<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_sky_upper.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,501},{1024,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,384}}</string>
                <key>sourceSize</key>
                <string>{1024,384}</string>
            </dict>
            <key>whitehousebottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1017},{1024,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,83}}</string>
                <key>sourceSize</key>
                <string>{1024,83}</string>
            </dict>
            <key>whitehousemiddle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1100},{1024,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,80}}</string>
                <key>sourceSize</key>
                <string>{1024,80}</string>
            </dict>
            <key>whitehousemiddle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,885},{1024,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,132}}</string>
                <key>sourceSize</key>
                <string>{1024,132}</string>
            </dict>
            <key>whitehousetop.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,501}}</string>
                <key>sourceSize</key>
                <string>{1024,501}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>foreground-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba2bec8bf91e7a9e053cad99fee29faf$</string>
            <key>textureFileName</key>
            <string>foreground-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
