<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chabot-OH.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{202,306}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{202,306}}</string>
                <key>sourceSize</key>
                <string>{250,330}</string>
            </dict>
            <key>Duffy-WI.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{184,324}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{184,324}}</string>
                <key>sourceSize</key>
                <string>{250,330}</string>
            </dict>
            <key>OH-Kucinich.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{228,302}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{228,302}}</string>
                <key>sourceSize</key>
                <string>{250,330}</string>
            </dict>
            <key>mole_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_laugh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,302},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_laugh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,500},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_laugh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,302},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_thump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,828},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_thump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,630},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_thump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,828},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_thump4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,630},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65939582efc961582dcd29206018f45f$</string>
            <key>textureFileName</key>
            <string>sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
